<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyProject</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
   body {
    background-color: #D8BFD8;
   }
  </style>
</head>
<body>
<div class="container">
    <br>
    <form action="add-transaction" method="post">
        <p class="font-weight-bold">Дата транзакции <input type="date" name="transactionDate"></p>
        <br>
        <p class="font-weight-bold">Сумма транзакции <input type="number" step="0.01" min="0" placeholder="0,00"
                                                            name="transactionSum"> BYN</p>
        <br>
        <p class="font-weight-bold">Категория транзакции:</p>
        <input type="radio" name="transactionCategory" value="Автомобиль"> Автомобиль
        <input type="radio" name="transactionCategory" value="Еда и продукты"> Еда и продукты
        <input type="radio" name="transactionCategory" value="Снятие наличных"> Снятие наличных
        <input type="radio" name="transactionCategory" value="Развлечения"> Развлечения
        <input type="radio" name="transactionCategory" value="Коммунальные расходы"> Коммунальные расходы
        <input type="radio" name="transactionCategory" value="Переводы"> Переводы
        <input type="radio" name="transactionCategory" value="Прочее"> Прочее
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Добавить транзакцию</button>
    </form>
</div>
</body>
</html>